/* @import url("responsive.css"); */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* for mozilla */
    scrollbar-color: black transparent;
    scrollbar-width: thin;
}



:is(ul, menu) {
  list-style: none;
}
input {
  outline: none;
  border: none;
}
body{
    overflow-x: hidden;
}

/* header  */
.header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  height: fit-content;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
}

.header__container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  margin-left: 60%;
  transform: translateX(-37%);
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
  /* padding-top: 5%; */
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header__checkout-cart {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.header__checkout-cart i {
  font-size: 2.3vw;
}

.checkout-cart__amount {
  position: absolute;
  top: -33%;
  right: -35%;
  background: red;
  font-size: 1vw;
  font-weight: 600;
  color: aliceblue;
  padding: 2% 20%;
  border: 1px solid red;
  border-radius: 50%;
}

/* products */

.products__container {
  margin: 5% auto 0;
  padding: 5%;
  display: flex;
  transition: all 0.4s linear;
  gap: 3%;
  row-gap: 3%;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 90vh;
  overflow-y: scroll;
}

.product {
  margin-top: 2%;
  width: 25%;
  padding-top: 3%;
  padding-bottom: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.product img {
  width: 100%;
  height: fit-content;
}
.product__title {
  text-align: center;
  font-size: 2.5vw;
}

.product__price {
  font-size: 1.4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product__button {
  display: block;
  width: 100%;
  font-size: 1.3vw;
  margin-top: 5%;
  background: black;
  color: white;
  text-transform: uppercase;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product__button:hover {
  cursor: pointer;
}

/* my cart  */
.my-cart {
  position: absolute;
  top: 0;
  z-index: 2;
  right: -25vw;
  width: 25vw;
  background: rgb(48, 40, 56);
  padding: 2% 3%;
  height: 100%;
  color: aliceblue;
  transition: all 0.4s linear;
  transform: translateX(25vw);
}

.my-cart--active {
  transform: translate(0);
}
.cart__container {
  position: relative;
  height: 100%;
 
}
.cart__title {
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.cart__list {
  margin-top: 3%;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: visible;
  /* width: 23vw; */
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 6%;
  gap: 5%;
}

.item img {
  width: 5vw;
  height: fit-content;
  position: relative;
}

.set-amount {
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.set-amount input {
  width: 1.6vw;
  padding: 2%;
  text-align: center;
  font-size: 1.2vw;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 1.2vw;
}

:is(.decrease, .increase) {
  font-size: 1.7vw;
  font-weight: 600;
  background-color: transparent;
 color: white;
  padding: 2%;
  border: none;
  cursor: pointer;
}
.amount__price {
  margin-top: 5%;
}

.delete {
  position: absolute;
  top: 45%;
  font-size: 1.4vw;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: aliceblue;
  right: 5%;
  transition: color .2s linear;
}
.delete:hover{
    color: rgb(232, 31, 31);
}

.totalPrice {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4vw;
  margin-top: 5%;
}

.menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.menu__item button {
  font-size: 1.2vw;
  font-weight: 600;
  padding: 1% 3%;
  cursor: pointer;
  white-space: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu__item:nth-child(1) button {
  background-color: black;
  color: aliceblue;
  border: none;
}

.menu__item:nth-child(2) button {
  color: black;
  background-color: aliceblue;
  border: none;
}

/* add active class */
.active .my-cart {
  right: 25vw;
}

.active .products__container {
  transform: translateX(-10vw);
}

/* scrollbars */
.products__container::-webkit-scrollbar
{
  width: 1vw;
}
.cart__list::-webkit-scrollbar{
  width: .5vw;
}

.products__container::-webkit-scrollbar-thumb,
.cart__list::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 1vw;
}

.products__container::-webkit-scrollbar-track,
.cart__list::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1vw;
  box-shadow: inset 0 0 3vw rgba(0, 0, 0, 0.4);
}
